body {
    font-family: Arial, sans-serif;
}

input, button {
    margin: 5px;
    padding: 10px;
}

#plot {
    margin-top: 20px;
}

.matrix-row input {
    width: 40px;
    margin-right: 2px; /* Reduced margin between coefficient inputs */
}

.matrix-row input:last-child {
    margin-left: 10px; /* Visual separation for the independent term */
}


.equation-preview {
    margin-top: 20px;
    font-size: 18px;
}
#slidersContainer {
            margin-top: 20px;
            padding: 10px;
            background-color: #f4f4f4; /* Light grey background */
            border: 1px solid #cccccc; /* Grey border */
        }
        .slider {
            width: 100%; /* Full width sliders */
            margin: 10px 0; /* Some vertical spacing */
        }

#plot .annotations path {
    stroke: black !important; /* Use !important to override any existing inline styles or other CSS */
}