.vscode
node_modules
package-lock.json
.DS_Store
**/.DS_Store
externalTools/*
**/*.pyc
**/ocrs.txt
**.log
**/repairs/*.txt

frontend/public/data/*

frontend/public/examples
frontend/public/js/lib
frontend/public/css/lib

examples.zip
tools.zip