/* Hides the buttons from svg-pan-zoom */ 

#proof-view #svg-pan-zoom-reset-pan-zoom,
#ontology-view #svg-pan-zoom-reset-pan-zoom {
    transform: scale(0);
}

#proof-view #svg-pan-zoom-zoom-in,
#ontology-view #svg-pan-zoom-zoom-in {
    transform: scale(0);
}

#proof-view #svg-pan-zoom-zoom-out,
#ontology-view #svg-pan-zoom-zoom-out {
    transform: scale(0);
}
