:root {
    --pcp-bubble-cursor-color: #a3a3a3;
    --pcp-bg-stroke: #c4c4c4ea;
    --pcp-text-fill: #333333;
    --pcp-axes-lines: #6b6b6b;
    --pcp-bg: #fafafa;
    
    --color-primary: #799c78 !important;
    --color-primary-light: #a6c0a5 !important;
    --color-primary-transparent-70: hsla(118, 26%, 74%, 0.7) !important;
    --color-primary-transparent-20: hsla(118, 26%, 74%, 0.2) !important;
    --color-secondary: #93ad93 !important;
    --color-secondary-light: #b1beb1 !important;

    --color-red-light: #ffebee;
    --color-red: #ef9a9a;
    --color-red-dark: #e77272;
    --color-red-darker: #b34343;
    --color-purple-light: #fdebff;
    --color-purple: #b89aef;
    --color-purple-dark: #9172e7;
    --color-blue-light: #e3f2fd;
    --color-blue: #64b5f6;
    --color-yellow-light: #fdfde3;
    --color-yellow: #ffd900;
    --color-yellow-dark: #b89c00;
    --color-orange-light: #fdefe3;
    --color-orange: #f6ab64;
    --color-orange-dark: #bb6b20;
    --color-teal-light: #e0f2f1;
    --color-teal: #80cbc4;
    --color-teal-dark: #36afa3;
    --color-teal-darker: #3ca096;
    --color-gray-light: #eceff1;
    --color-gray: #b0bec5;
    --color-gray-dark: #9e9e9e;
    --color-gray-darker:#757575;
    --color-lime-light: #f0f4c3;
    --color-lime: #cddc39;
}