.background {
    stroke: white;
    stroke-width: 1px;
    fill: white;
}

.node {
    stroke-width: 3px;
    border: 4px;
    rx: 5px;
    ry: 5px;
    cursor: pointer;
}

.link {
    fill: none;
    stroke-width: 3px;
    opacity: 0.7;
    marker-end: url(#end-arrow);
    pointer-events: visibleStroke;
}

.group_link {
    stroke-dasharray: 10;
}

.group {
    fill: rgba(109, 109, 255, 0.09);
    opacity: .3;
    stroke-width: 6px;
    stroke: #0000ff;
}

div.counter-example-search-result-item {
    cursor: pointer;
}

div.counter-example-selected-tag-item {
    color: white;
    background-color: green;
    border-radius: 100px;
    padding: 5px;
}

div.counter-example-search-result-item.selected {
    font-weight: bold;
    color: green;
}

div.tooltip {
    position: absolute;
    text-align: center;
    padding: 10px;
    font-family: sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 2px;
    pointer-events: none;
}

.selection_mode_area {
    fill: #3ca096;
    opacity: 0.3;
    stroke: #313131;
    stroke-dasharray: 8;
    stroke-width: 4px;
}

.hover_link {
    stroke-width: 6px;
    opacity: 1;
}

.label {
    font-size: 30px;
    cursor: pointer;
}


.label_edge {
    fill: black;
    font-size: 20px;
    text-anchor: middle;
}

#counter-example-search-result-container {
    overflow: auto;
}
