:root {
	--minimap-height: 15vh;
	--minimap-width: 20vh;
}

.minimap {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.07), 0 3px 1px -2px rgba(0, 0, 0, 0.06),
		0 1px 5px 0 rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	position: absolute;
	top: calc(5px);
	right: 0;
	left: 5px;
	bottom: 0;
	width: var(--minimap-width);
	height: var(--minimap-height);
	overflow: hidden;
}

.scope {
	fill: var(--color-primary);
	fill-opacity: 0.1;
	stroke: var(--color-primary);
	stroke-width: 1px;
}

.minimap-view-container {
	position: absolute;
	width: var(--minimap-width);
	height: var(--minimap-height);
	margin-bottom: 16px;
	opacity: 1;
	transition: opacity 0.2s;
}

.minimap-view {
	z-index: 110;
	background: white;
}

.scope-container {
	z-index: 120;
}

/* Cytoscape minimap styles */
.opacity-0 {
	opacity: 0;
	pointer-events: none;
}

#ontology-minimap-container{
	/* transition: opacity 0.2s; */
	overflow: hidden;
	z-index: 1;
	position: absolute;
	margin-left: 5px;
	margin-top: 5px;
	width: var(--minimap-width);
	height: var(--minimap-height);
	margin-bottom: 16px;
	background: #fff;
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.07), 0 3px 1px -2px rgba(0, 0, 0, 0.06), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
	overflow: hidden;
	
}
.cytoscape-navigator{
	position: absolute;
	z-index: 2147483647;
    border-radius: 2px;
    width: var(--minimap-width);
    height: var(--minimap-height);
    overflow: hidden;
}

.cytoscape-navigator > img{
	max-width: 100%;
	max-height: 100%;
}

.cytoscape-navigator > canvas{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 101;
}

.cytoscape-navigatorView{
	position: absolute;
	top: 0;
	left: 0;
	cursor: move;
	background-color: rgba(121, 156, 120, 0.1);
    outline: 1px solid rgb(121, 156, 120);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=50);
	filter: alpha(opacity=50);
	z-index: 102;
}

.cytoscape-navigatorOverlay{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 103;
}
