/* Tooltip style */
@import "../colors.css";

.tooltip-explanation {
    position: absolute;
    display: inline-block;
    height: fit-content;
    background-color: #fafafa;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.explanation-container {
    display: block;
    width: 100%;
    background-color: var(--pcp-bg);
    text-align: justify !important;
}

.explanation-container text {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
}

.positionLT {
    left: 10px;
    top: 10px;
}

.positionLB {
    left: 10px;
    bottom: 10px;
}

.positionRT {
    right: 20px;
    /*for the right menu button*/
    top: 10px;
}

.positionRB {
    right: 20px;
    /*for the right menu button*/
    bottom: 10px;
}

.tooltip-explanation>.tooltiptext {
    background-color: #fafafa;
    color: black;
    text-align: center;
    border-radius: 2px;
    padding: 5px 0;
    display: block;
}

.tooltiptext h2 {
    font-size: 1.5em;
    margin: 8px 10px 10px 10px;
}

.flexy {
    display: flex;
}

#cd-left { 
    text-align: left;
    margin-left: 25px;
    margin-right: 10px;
}

#cd-right {
    text-align: left;
    margin-right: 25px;
}

#cd-divider {
    content: "";
    background-color: #afafaf;
    width: 0.5px;
    margin-right: 10px;
    display: block;
}

.tooltip-light {
    background: transparent;
    color: var(--color-gray);
}

.controls-bar {
    height: 30px;
}

.bar-left {
    position: absolute;
    margin-right: auto;
    left: 15px;
    text-align: center;
}

.bar-right {
    position: absolute;
    margin-left: auto;
    right: 15px;
    text-align: center;
}

.bar-center {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.bar-button>i {
    font-size: 30px;
    cursor: pointer;
    color: var(--color-primary)
}

.bar-button>i:hover {
    color: var(--color-primary-light)
}

.hl-text {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.hl-text.premise {
    text-decoration-color: var(--color-blue);
}

.hl-text.conclusion {
    text-decoration-color: var(--color-purple-dark);
}

#tooltip-handle-bar {
    cursor: pointer;
}

.explanation-probe {
    width: 600px;
    padding: 10px 15px 0 15px;
    display: none;
}