/* Tooltip style */
@import "../colors.css";

.tooltip-explanation {
    position: absolute;
    display: inline-block;
    height: fit-content;
    background-color: #fafafa;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.positionLT {
    left: 10px;
    top: 10px;
}

.positionLB {
    left: 10px;
    bottom: 10px;
}

.positionRT {
    right: 20px; /*for the right menu button*/
    top: 10px;
}

.positionRB {
    right: 20px; /*for the right menu button*/
    bottom: 10px;
}

.tooltip-explanation > .tooltiptext {
    background-color: #fafafa;
    color: black;
    text-align: center;
    border-radius: 2px;
    padding: 5px 0;
    display: block;
}

.tooltiptext h2 {
    font-size: 1.5em;
    margin: 8px 10px 10px 10px;
}

.tooltip-light {
    background: transparent;
    color: var(--color-gray);
}

.tooltip-explanation .modal-close {
    margin-right: 15px;
}

.controls-bar {
    text-align: center;
}

.bar-button > i {
    font-size: 30px;
    cursor:pointer;
    color: var(--color-primary)
}

.bar-button > i:hover {
    font-size: 30px;
    color: var(--color-primary-light)
}
